{% extends 'base.html' %}
{% load static %}

{% block content %}

<center>
    <h2 style="background-color:whitesmoke;">Biodata Diri</h2>
</center>

<p></p>
<center>
    <img src="/static/foto amel 2.jpg" alt="Foto diri sendiri" width="250px">
</center>

<p></p>
<h3 style="background-color:rgba(23, 91, 108, 0.831);">Biodata Penulis</h3>
<p style="font-family: 'times new roman'">Nama : Amelia Hermaya</p>
<p style="font-family: 'times new roman'">NIM : 2225210006</p>
<p style="font-family: 'times new roman'">Kelas : 3C</p>
<p style="font-family: 'times new roman'">Dosen Pengampu : Aan Hendrayana</p>
<hr />

<footer>
    <div class="font-small">&copy; Teknologi Informasi dan Komunikasi Untuk Pembelajaran</div> 
    <div class="font-small">@ameliahermaya_19</div>
</footer>


{% endblock %}